In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import LabelEncoder
import xgboost as xgb
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
import seaborn as sns
import matplotlib.pyplot as plt
import os
import gc
from matplotlib import pyplot as plt
%matplotlib inline
from sklearn.model_selection import GridSearchCV
from skopt import BayesSearchCV
import lightgbm as lgb
from sklearn.model_selection import train_test_split, KFold, StratifiedKFold
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.feature_selection import VarianceThreshold
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from skopt.space import Real, Categorical, Integer
import warnings
warnings.simplefilter('ignore')
OriginDataDir = '../../Data/OriginData'
TrainTestDataDir = '../../Data/TrainTestData'
ModelSaveDir = 'models'
ResultSaveDir = 'result'

In [3]:
def loadData(DataName):
    DataPath = os.path.join(ResultSaveDir, DataName)
    if not os.path.exists(DataPath):
        print('%s does not exist!' % DataPath)
        return
    OriginData = pd.read_csv(DataPath, index_col=0)
    #OriginData = OriginData.sample(frac=1)  # 打乱顺序后返回
    return OriginData

In [5]:
lgbm_0792_1 = loadData('lgbm_0792_1.csv')
lgbm_0792_2 = loadData('lgbm_0792_2.csv')
lgbm_0790 = loadData('lgbm_0790.csv')
lgbm_0793 = loadData('lgbm_0793.csv')
lgbm_0794 = loadData('lgbm0794.csv')
lgbm_0791 = loadData('lgbm0791.csv')

In [6]:
lgbm_0792_1.head()

              TARGET
SK_ID_CURR
100001      0.043054
100005      0.143180
100013      0.026727
100028      0.045051
100038      0.157479

In [7]:
lgbm_0792_2.head()

              TARGET
SK_ID_CURR
100001      0.054003
100005      0.148476
100013      0.031390
100028      0.049710
100038      0.174535

In [8]:
lgbm_0790.head()

              TARGET
SK_ID_CURR
100001      0.049647
100005      0.153469
100013      0.038652
100028      0.041287
100038      0.161209

In [10]:
lgbm_0793.head()

              TARGET
SK_ID_CURR
100001      0.025213
100005      0.144693
100013      0.024379
100028      0.033381
100038      0.146802

In [11]:
lgbm_0794.head()

              TARGET
SK_ID_CURR
100001      0.026428
100005      0.151186
100013      0.025041
100028      0.038350
100038      0.138570

In [13]:
lgbm_new = lgbm_0792_1.copy()

In [17]:
lgbm_new.TARGET = (0.3*lgbm_0792_1.TARGET+0.2*lgbm_0792_2.TARGET+0.25*(lgbm_0793.TARGET+lgbm_0794.TARGET))/2

In [18]:
lgbm_new.to_csv(os.path.join(ResultSaveDir,'lgbm079AVG1.csv'))

In [16]:
lgbm_new.head()

              TARGET
SK_ID_CURR
100001      0.022632
100005      0.104387
100013      0.018270
100028      0.027630
100038      0.105519