In [2]:
import torch
from torch.autograd import Variable
from torch import nn
from torch.nn import init
import torch.utils.data as Data
import torch.nn.functional as F
import pandas as pd
import numpy as np
import random
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
import os
import matplotlib.pyplot as plt
import warnings
plt.switch_backend('agg')

warnings.simplefilter("ignore")

TrainTestDataDir = '/home/songyue/homeCredit/HomeCreditDefaultRisk/Data/TrainTestData'
DNNModelsdIR = '/home/songyue/homeCredit/HomeCreditDefaultRisk/DNN/models'
%matplotlib inline

In [3]:
def GenMyDNN(InputSize=220, OutputSize=1, DropPro=0.5):
    
    DNNnet = torch.nn.Sequential(
        torch.nn.Linear(InputSize, InputSize),
        torch.nn.Dropout(0.3),
        torch.nn.Linear(InputSize, 512),
        torch.nn.ReLU(),
        torch.nn.Dropout(0.7),
        torch.nn.Linear(512, 256),
        torch.nn.ReLU(),
        torch.nn.Dropout(0.5),
        torch.nn.Linear(256, 128),
        torch.nn.Dropout(0.5),
        torch.nn.ReLU(),
        torch.nn.Linear(128, 64),
        torch.nn.Dropout(0.3),
        torch.nn.ReLU(),
        torch.nn.Linear(64, 32),
        torch.nn.Dropout(0.1),
        torch.nn.ReLU(),
        torch.nn.Linear(32, 16),
        torch.nn.ReLU(),
        torch.nn.Linear(16, OutputSize),
        torch.nn.Sigmoid()
    )
    return DNNnet


def loadData(DataName):
    DataPath = os.path.join(TrainTestDataDir, DataName)
    if not os.path.exists(DataPath):
        print('%s does not exist!' % DataPath)
        return
    OriginData = pd.read_csv(DataPath, index_col=0)
    OriginData = OriginData.sample(frac=1)  # 打乱顺序后返回
    return OriginData


def NormalData(TrainData, TestData):
    # 对一些列的均值大于100的进行归一化处理
    AllData = TrainData.append(TestData)
    for col in AllData.columns:
        if abs(AllData[col].mean())>1:
            scaler = StandardScaler().fit(np.atleast_2d(AllData[col]).T)
            TrainData[col] = scaler.transform(np.atleast_2d(TrainData[col]).T)
    return TrainData

In [61]:
# 把所有的训练数据都加载出来
TrainData = loadData('train1.csv')
for i in range(2, 11):
    TrainData = TrainData.append(loadData('train%d.csv' % i))
TrainData.reset_index(drop=True, inplace=True)
TrainData.to_csv(os.path.join(TrainTestDataDir,'AllTrain.csv'))

In [62]:
TrainData.shape

(530936, 222)

In [59]:
TrainData = pd.read_csv(os.path.join(TrainTestDataDir,'AllTrain.csv'))
TrainData.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_traintest,AMT_ANNUITY_traintest,AMT_GOODS_PRICE_traintest,...,NAME_TYPE_SUITE_other_prevapp,NAME_CLIENT_TYPE_New,NAME_CLIENT_TYPE_Refreshed,NAME_CLIENT_TYPE_Repeater,NAME_PORTFOLIO_Cards,NAME_PORTFOLIO_Cash,NAME_PORTFOLIO_POS,NAME_PORTFOLIO_other,CommonCosSimi,TARGET
0,411042,1,0,1,1,0,157500.0,1458414.0,38601.0,1273500.0,...,-1.000000,-1.000000,-1.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-0.431354,0
1,426735,1,0,1,1,0,315000.0,835605.0,29736.0,697500.0,...,0.000000,0.055556,0.0,0.944444,0.055556,0.277778,0.166667,0.500000,0.930577,0
2,441703,1,0,0,1,0,144000.0,99000.0,10791.0,99000.0,...,0.071429,0.357143,0.0,0.642857,0.285714,0.357143,0.214286,0.142857,0.997743,1
3,406257,1,0,1,1,2,225000.0,219042.0,22572.0,193500.0,...,0.000000,0.250000,0.0,0.750000,0.000000,0.000000,0.750000,0.250000,0.968531,0
4,114569,1,1,1,1,0,180000.0,301464.0,20277.0,238500.0,...,0.000000,0.500000,0.0,0.500000,0.166667,0.166667,0.500000,0.166667,0.997575,0

In [46]:
TrainData.drop('SK_ID_CURR', axis=1, inplace=True)
TrainData.drop('TARGET', axis=1, inplace=True)

In [28]:
FeatureRandomSelection = random.sample(range(TrainData.shape[1]),121)

In [48]:
import json
FeatureRandomSelection = []
DNNnum = 100
for i in range(DNNnum):
    FeatureRandomSelection.append(random.sample(range(TrainData.shape[1]),121))
with open(os.path.join(DNNModelsdIR,'FeatureRandomSelection.json'),'w') as fp:
    json.dump(FeatureRandomSelection,fp)

In [47]:
TrainData.shape[1]

220

In [49]:
TrainData.iloc[:,FeatureRandomSelection[0]].head()

,DAYS_CREDIT_UPDATE,FLAG_OWN_CAR,EXT_SOURCE_2,NAME_CONTRACT_STATUS_Canceled,AMT_PAYMENT_minus,FLAG_DOCUMENT_7,isEqualofAMT_PAYMENT,credit_previous_application_count,NAME_FAMILY_STATUS_Widow,REGION_RATING_CLIENT_W_CITY,...,NAME_CASH_LOAN_PURPOSE_XNA,CREDIT_ACTIVE_Closed,NAME_CONTRACT_STATUS_Active_prevapp,FLAG_EMAIL,DAYS_CREDIT,DEF_60_CNT_SOCIAL_CIRCLE,NAME_SELLER_INDUSTRY,AMT_CREDIT_traintest,AMT_REQ_CREDIT_BUREAU_QRT,FLAG_WORK_PHONE
0,-991.000000,0,0.662821,0.000000,-113.426250,0,0.000000,4.0,0,2,...,0.000000,1.000000,0.000000,0,-2563.5,1.0,1.000000,728460.0,0.0,1
1,-759.166667,0,0.453786,0.500000,0.000000,0,0.000000,2.0,0,2,...,0.500000,0.833333,0.000000,0,-1260.5,1.0,0.500000,528633.0,0.0,0
2,-1.000000,0,0.192014,0.000000,0.000000,0,0.000000,1.0,0,2,...,0.000000,-1.000000,0.000000,0,-1.0,0.0,1.000000,724581.0,0.0,1
3,-695.100000,0,0.264745,0.333333,-17.396907,0,0.063158,7.0,0,2,...,0.833333,0.800000,0.768421,0,-1484.6,0.0,0.166667,360000.0,0.0,0
4,-1.000000,0,0.530606,0.000000,-969.113571,0,0.000000,2.0,0,3,...,0.500000,-1.000000,0.000000,0,-1.0,0.0,1.000000,814041.0,0.0,0

In [51]:
# 把所有的训练数据都加载出来
TrainData = loadData('train1.csv')

In [56]:
TrainData.shape

(530936, 222)

In [55]:
for i in range(2, 11):
    TrainData = TrainData.append(loadData('train%d.csv' % i))

### Smote 解决样本不均衡

In [45]:
# 把所有的训练数据都加载出来
TrainData = loadData('train1.csv')
TrainDataPos = TrainData[TrainData.TARGET==1]
TrainDataNeg = TrainData[TrainData.TARGET==0]
for i in range(2, 11):
    TrainDataTmp = loadData('train%d.csv' % i)
    TrainDataTmp = TrainDataTmp[TrainDataTmp.TARGET==0]
    TrainDataNeg = TrainDataNeg.append(TrainDataTmp)
TrainData = TrainDataNeg.append(TrainDataPos)
TrainData.reset_index(drop=True, inplace=True)

In [46]:
TrainData.to_csv(os.path.join(TrainTestDataDir,'AllTrain.csv'))

In [5]:
TrainData.shape

(307511, 222)

In [6]:
TrainData.TARGET.sum()/len(TrainData)

0.08072881945686496

In [7]:
TrainData = TrainData.sample(frac=1)

In [8]:
TrainData.reset_index(drop=True, inplace=True)

In [10]:
TrainData.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_traintest,AMT_ANNUITY_traintest,AMT_GOODS_PRICE_traintest,...,NAME_TYPE_SUITE_other_prevapp,NAME_CLIENT_TYPE_New,NAME_CLIENT_TYPE_Refreshed,NAME_CLIENT_TYPE_Repeater,NAME_PORTFOLIO_Cards,NAME_PORTFOLIO_Cash,NAME_PORTFOLIO_POS,NAME_PORTFOLIO_other,CommonCosSimi,TARGET
0,136061,1,1,1,1,0,58500.0,254700.0,14350.5,225000.0,...,0.0,0.142857,0.00,0.857143,0.000000,0.285714,0.428571,0.285714,0.983550,0
1,247842,1,0,0,1,0,337500.0,1066752.0,31320.0,931500.0,...,0.0,0.100000,0.00,0.900000,0.100000,0.500000,0.200000,0.200000,0.992946,0
2,250871,1,0,1,1,2,202500.0,646920.0,25065.0,540000.0,...,0.0,0.125000,0.25,0.625000,0.250000,0.125000,0.250000,0.375000,0.957640,1
3,365156,1,1,0,1,0,270000.0,1125000.0,104107.5,1125000.0,...,0.0,0.333333,0.00,0.666667,0.333333,0.000000,0.333333,0.333333,0.980595,0
4,210965,1,1,1,1,0,360000.0,1718473.5,50247.0,1345500.0,...,0.0,0.000000,0.00,1.000000,0.000000,0.857143,0.142857,0.000000,0.999174,0

In [9]:
import pandas_ml as pdml

In [12]:
TrainDataID = TrainData.SK_ID_CURR
TrainData.drop('SK_ID_CURR',axis=1,inplace=True)

In [13]:
TrainDataTARGET = TrainData.TARGET
TrainData.drop('TARGET',axis=1,inplace=True)

In [14]:
TrainData.shape

(307511, 220)

In [15]:
 df = pdml.ModelFrame(TrainData.values, target=TrainDataTARGET.values,columns=TrainData.columns.tolist())

In [16]:
df.head()

,.target,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_traintest,AMT_ANNUITY_traintest,AMT_GOODS_PRICE_traintest,...,NAME_TYPE_SUITE_family,NAME_TYPE_SUITE_other_prevapp,NAME_CLIENT_TYPE_New,NAME_CLIENT_TYPE_Refreshed,NAME_CLIENT_TYPE_Repeater,NAME_PORTFOLIO_Cards,NAME_PORTFOLIO_Cash,NAME_PORTFOLIO_POS,NAME_PORTFOLIO_other,CommonCosSimi
0,0,1.0,1.0,1.0,1.0,0.0,58500.0,254700.0,14350.5,225000.0,...,0.142857,0.0,0.142857,0.00,0.857143,0.000000,0.285714,0.428571,0.285714,0.983550
1,0,1.0,0.0,0.0,1.0,0.0,337500.0,1066752.0,31320.0,931500.0,...,0.300000,0.0,0.100000,0.00,0.900000,0.100000,0.500000,0.200000,0.200000,0.992946
2,1,1.0,0.0,1.0,1.0,2.0,202500.0,646920.0,25065.0,540000.0,...,0.125000,0.0,0.125000,0.25,0.625000,0.250000,0.125000,0.250000,0.375000,0.957640
3,0,1.0,1.0,0.0,1.0,0.0,270000.0,1125000.0,104107.5,1125000.0,...,0.333333,0.0,0.333333,0.00,0.666667,0.333333,0.000000,0.333333,0.333333,0.980595
4,0,1.0,1.0,1.0,1.0,0.0,360000.0,1718473.5,50247.0,1345500.0,...,0.428571,0.0,0.000000,0.00,1.000000,0.000000,0.857143,0.142857,0.000000,0.999174

In [17]:
df.target.value_counts()

0    282686
1     24825
Name: .target, dtype: int64

In [19]:
sampler = df.imbalance.over_sampling.SMOTE()

In [20]:
sampler

SMOTE(k=None, k_neighbors=5, kind='regular', m=None, m_neighbors=10, n_jobs=1,
   out_step=0.5, random_state=None, ratio='auto', svm_estimator=None)

In [21]:
sampled = df.fit_sample(sampler)

In [26]:
sampled.head()

,.target,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_traintest,AMT_ANNUITY_traintest,AMT_GOODS_PRICE_traintest,...,NAME_TYPE_SUITE_family,NAME_TYPE_SUITE_other_prevapp,NAME_CLIENT_TYPE_New,NAME_CLIENT_TYPE_Refreshed,NAME_CLIENT_TYPE_Repeater,NAME_PORTFOLIO_Cards,NAME_PORTFOLIO_Cash,NAME_PORTFOLIO_POS,NAME_PORTFOLIO_other,CommonCosSimi
0,0,1.0,1.0,1.0,1.0,0.0,58500.0,254700.0,14350.5,225000.0,...,0.142857,0.0,0.142857,0.00,0.857143,0.000000,0.285714,0.428571,0.285714,0.983550
1,0,1.0,0.0,0.0,1.0,0.0,337500.0,1066752.0,31320.0,931500.0,...,0.300000,0.0,0.100000,0.00,0.900000,0.100000,0.500000,0.200000,0.200000,0.992946
2,1,1.0,0.0,1.0,1.0,2.0,202500.0,646920.0,25065.0,540000.0,...,0.125000,0.0,0.125000,0.25,0.625000,0.250000,0.125000,0.250000,0.375000,0.957640
3,0,1.0,1.0,0.0,1.0,0.0,270000.0,1125000.0,104107.5,1125000.0,...,0.333333,0.0,0.333333,0.00,0.666667,0.333333,0.000000,0.333333,0.333333,0.980595
4,0,1.0,1.0,1.0,1.0,0.0,360000.0,1718473.5,50247.0,1345500.0,...,0.428571,0.0,0.000000,0.00,1.000000,0.000000,0.857143,0.142857,0.000000,0.999174

In [27]:
sampled.shape

(565372, 221)

In [28]:
sampled.target.value_counts()

1    282686
0    282686
Name: .target, dtype: int64

In [29]:
sampled.isnull().sum().sort_values().head()

.target                                     0
NAME_CONTRACT_STATUS_Active_traintest       0
NAME_CONTRACT_STATUS_Completed_traintest    0
NAME_CONTRACT_STATUS_other_traintest        0
NAME_CONTRACT_STATUS_Signed_traintest       0
dtype: int64

In [30]:
sampled[sampled.target==1].head()

,.target,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_traintest,AMT_ANNUITY_traintest,AMT_GOODS_PRICE_traintest,...,NAME_TYPE_SUITE_family,NAME_TYPE_SUITE_other_prevapp,NAME_CLIENT_TYPE_New,NAME_CLIENT_TYPE_Refreshed,NAME_CLIENT_TYPE_Repeater,NAME_PORTFOLIO_Cards,NAME_PORTFOLIO_Cash,NAME_PORTFOLIO_POS,NAME_PORTFOLIO_other,CommonCosSimi
2,1,1.0,0.0,1.0,1.0,2.0,202500.0,646920.0,25065.0,540000.0,...,0.125000,0.0,0.125000,0.250000,0.625000,0.250000,0.125000,0.250000,0.375,0.957640
34,1,1.0,1.0,0.0,1.0,0.0,198000.0,1216201.5,35689.5,1062000.0,...,0.333333,0.0,0.333333,0.000000,0.666667,0.000000,0.000000,1.000000,0.000,0.999403
42,1,1.0,0.0,1.0,0.0,0.0,315000.0,873000.0,31059.0,873000.0,...,0.692308,0.0,0.000000,0.153846,0.846154,0.076923,0.615385,0.307692,0.000,0.998715
45,1,1.0,1.0,0.0,1.0,0.0,225000.0,635962.5,37998.0,549000.0,...,0.500000,0.0,0.500000,0.000000,0.500000,0.500000,0.000000,0.500000,0.000,0.985067
65,1,1.0,1.0,0.0,1.0,0.0,171000.0,314100.0,19111.5,225000.0,...,0.600000,0.0,0.000000,0.000000,1.000000,0.200000,0.200000,0.200000,0.400,0.942613

In [31]:
sampled.info()

<class 'pandas_ml.core.frame.ModelFrame'>
RangeIndex: 565372 entries, 0 to 565371
Columns: 221 entries, .target to CommonCosSimi
dtypes: float64(220), int64(1)
memory usage: 953.3 MB

In [32]:
sampled.to_csv(os.path.join(TrainTestDataDir,'AllTrainSMOTE.csv'))

In [33]:
# 把所有的训练数据都加载出来
TrainData = loadData('AllTrainSMOTE.csv')
TrainData.head()

,.target,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_traintest,AMT_ANNUITY_traintest,AMT_GOODS_PRICE_traintest,...,NAME_TYPE_SUITE_family,NAME_TYPE_SUITE_other_prevapp,NAME_CLIENT_TYPE_New,NAME_CLIENT_TYPE_Refreshed,NAME_CLIENT_TYPE_Repeater,NAME_PORTFOLIO_Cards,NAME_PORTFOLIO_Cash,NAME_PORTFOLIO_POS,NAME_PORTFOLIO_other,CommonCosSimi
213866,0,1.0,1.000000,1.0,1.000000,0.0,202500.000000,528687.000000,30478.500000,436500.000000,...,0.600000,0.0,0.200000,0.0,0.800000,0.2,0.2,0.400000,0.200000,0.977479
252540,0,1.0,1.000000,0.0,0.000000,0.0,144000.000000,225000.000000,17554.500000,225000.000000,...,0.500000,0.0,0.500000,0.0,0.500000,0.0,0.5,0.500000,0.000000,0.998196
79746,0,1.0,0.000000,0.0,1.000000,0.0,135000.000000,497520.000000,52920.000000,450000.000000,...,-1.000000,-1.0,-1.000000,-1.0,-1.000000,-1.0,-1.0,-1.000000,-1.000000,-0.448261
71423,1,1.0,1.000000,0.0,1.000000,0.0,135000.000000,521280.000000,25209.000000,450000.000000,...,0.500000,0.0,0.500000,0.0,0.500000,0.5,0.5,0.000000,0.000000,0.998841
477271,1,1.0,0.374379,0.0,0.625621,0.0,149076.465979,295307.068043,23385.865287,241847.068043,...,0.593595,0.0,0.406405,0.5,0.093595,0.0,0.0,0.906405,0.093595,0.990804

In [34]:
TrainData.shape

(565372, 221)

In [38]:
TrainData.rename(columns={'.target':'TARGET'},inplace=True)

In [43]:
TrainData.head()

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_traintest,AMT_ANNUITY_traintest,AMT_GOODS_PRICE_traintest,...,NAME_TYPE_SUITE_family,NAME_TYPE_SUITE_other_prevapp,NAME_CLIENT_TYPE_New,NAME_CLIENT_TYPE_Refreshed,NAME_CLIENT_TYPE_Repeater,NAME_PORTFOLIO_Cards,NAME_PORTFOLIO_Cash,NAME_PORTFOLIO_POS,NAME_PORTFOLIO_other,CommonCosSimi
0,0,1.0,1.000000,1.0,1.000000,0.0,202500.000000,528687.000000,30478.500000,436500.000000,...,0.600000,0.0,0.200000,0.0,0.800000,0.2,0.2,0.400000,0.200000,0.977479
1,0,1.0,1.000000,0.0,0.000000,0.0,144000.000000,225000.000000,17554.500000,225000.000000,...,0.500000,0.0,0.500000,0.0,0.500000,0.0,0.5,0.500000,0.000000,0.998196
2,0,1.0,0.000000,0.0,1.000000,0.0,135000.000000,497520.000000,52920.000000,450000.000000,...,-1.000000,-1.0,-1.000000,-1.0,-1.000000,-1.0,-1.0,-1.000000,-1.000000,-0.448261
3,1,1.0,1.000000,0.0,1.000000,0.0,135000.000000,521280.000000,25209.000000,450000.000000,...,0.500000,0.0,0.500000,0.0,0.500000,0.5,0.5,0.000000,0.000000,0.998841
4,1,1.0,0.374379,0.0,0.625621,0.0,149076.465979,295307.068043,23385.865287,241847.068043,...,0.593595,0.0,0.406405,0.5,0.093595,0.0,0.0,0.906405,0.093595,0.990804

In [40]:
TrainData.reset_index(drop=True, inplace=True)

In [42]:
TrainData.to_csv(os.path.join(TrainTestDataDir,'AllTrainSMOTE.csv'))

In [44]:
TrainData[TrainData.TARGET==1]

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_traintest,AMT_ANNUITY_traintest,AMT_GOODS_PRICE_traintest,...,NAME_TYPE_SUITE_family,NAME_TYPE_SUITE_other_prevapp,NAME_CLIENT_TYPE_New,NAME_CLIENT_TYPE_Refreshed,NAME_CLIENT_TYPE_Repeater,NAME_PORTFOLIO_Cards,NAME_PORTFOLIO_Cash,NAME_PORTFOLIO_POS,NAME_PORTFOLIO_other,CommonCosSimi
3,1,1.000000,1.000000,0.000000,1.000000,0.000000,135000.000000,5.212800e+05,25209.000000,4.500000e+05,...,0.500000,0.000000,0.500000,0.000000,0.500000,0.500000,0.500000,0.000000,0.000000,0.998841
4,1,1.000000,0.374379,0.000000,0.625621,0.000000,149076.465979,2.953071e+05,23385.865287,2.418471e+05,...,0.593595,0.000000,0.406405,0.500000,0.093595,0.000000,0.000000,0.906405,0.093595,0.990804
6,1,1.000000,1.000000,0.000000,1.000000,0.000000,67500.000000,2.589816e+05,22201.203174,2.155273e+05,...,-0.789496,-0.578993,-0.578993,-0.789496,-0.789496,-0.789496,-0.789496,-0.578993,-0.789496,-0.155847
11,1,1.000000,0.902040,0.902040,0.902040,0.000000,116908.192622,1.106574e+06,30057.741970,9.405918e+05,...,0.676530,0.000000,0.245102,0.000000,0.754898,0.000000,0.039184,0.941224,0.019592,0.994936
12,1,1.000000,0.398676,0.000000,1.000000,0.601324,118031.048739,2.998641e+05,18918.314514,2.331179e+05,...,0.199338,0.200441,0.399779,0.000000,0.600221,0.000000,0.000000,0.799559,0.200441,0.972266
13,1,1.000000,0.829934,0.170066,0.829934,0.170066,183826.481902,2.597510e+05,29015.435445,2.250000e+05,...,0.325235,0.000000,0.116510,0.000000,0.883490,0.000000,0.349530,0.233020,0.417450,0.958240
14,1,1.000000,0.000000,1.000000,0.241711,1.758289,157500.000000,3.425506e+05,17040.898858,2.529385e+05,...,0.620855,0.000000,0.500000,0.000000,0.500000,0.000000,0.000000,1.000000,0.000000,0.985190
15,1,0.115413,1.000000,0.115413,0.884587,0.000000,120461.287068,1.817939e+05,9618.553551,1.763645e+05,...,0.353835,0.028853,0.205771,0.234624,0.559606,0.000000,0.000000,0.588459,0.411541,0.986805
16,1,1.000000,0.000000,0.312366,1.000000,0.687634,272792.050168,6.140945e+05,28940.398955,5.160655e+05,...,0.640672,0.062473,0.148427,0.000000,0.851573,0.148427,0.062473,0.234382,0.554718,0.980887
17,1,1.000000,0.515448,0.000000,1.000000,0.515448,141402.413142,1.163272e+05,9003.044687,1.125000e+05,...,0.000000,0.000000,0.121138,0.121138,0.757724,0.371138,0.257724,0.371138,0.000000,0.998732
19,1,1.000000,0.184167,0.815833,0.184167,0.000000,116643.764034,1.288350e+06,35486.085895,1.125000e+06,...,-0.723749,-0.815833,-0.769791,-0.815833,-0.677707,-0.815833,-0.815833,-0.631665,-0.815833,-0.168083
20,1,1.000000,0.405478,0.405478,1.000000,0.810956,157500.000000,7.241338e+05,22249.560034,5.187205e+05,...,0.471037,0.000000,0.057925,0.118904,0.823170,0.117378,0.292681,0.176830,0.413112,0.947321
24,1,1.000000,0.499309,0.500691,1.000000,1.001382,130493.781899,7.819200e+05,40054.500000,6.750000e+05,...,0.416552,0.000000,0.416552,0.166897,0.416552,0.000000,0.166897,0.583448,0.249655,0.995647
26,1,1.000000,0.000000,1.000000,1.000000,0.509562,162802.281474,4.674683e+05,22120.725849,4.534395e+05,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.994673
28,1,1.000000,0.000000,0.918426,1.000000,0.081574,87797.507768,1.252791e+05,14244.616302,1.241646e+05,...,0.385197,0.000000,0.155590,0.000000,0.844410,0.000000,0.081574,0.918426,0.000000,0.999930
29,1,1.000000,0.780331,0.780331,0.219669,1.000000,364810.217610,1.034780e+06,48282.892507,9.197702e+05,...,0.541422,0.000000,0.078033,0.073223,0.848744,0.114645,0.385355,0.265901,0.234099,0.988649
30,1,1.000000,0.878755,1.000000,1.000000,0.000000,98184.040260,2.542853e+05,26293.292978,2.195440e+05,...,0.381813,0.175751,0.236374,0.000000,0.763626,0.381813,0.381813,0.175751,0.060623,0.994376
32,1,1.000000,1.000000,0.000000,1.000000,0.000000,72416.893776,6.743747e+05,35456.419587,6.743747e+05,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.980818
35,1,1.000000,0.000000,0.000000,1.000000,0.000000,116849.937953,2.741990e+05,18028.390551,2.713050e+05,...,0.129048,0.032222,0.161270,0.000000,0.838730,0.000000,0.387143,0.354761,0.258096,0.991169
36,1,1.000000,0.130062,0.869938,0.130062,0.000000,147732.508679,1.745163e+05,9955.916744,1.250117e+05,...,0.189577,0.000000,0.085499,0.000000,0.914501,0.219335,0.256496,0.420090,0.104079,0.985265
44,1,1.000000,0.000000,0.000000,0.829742,0.000000,223661.617082,6.517008e+05,21092.770214,5.629849e+05,...,0.113505,0.000000,0.184866,0.018918,0.796216,0.184866,0.203784,0.426485,0.184866,0.998554
49,1,1.000000,1.000000,0.629007,1.000000,2.000000,86516.801847,2.170435e+05,11312.257822,1.908893e+05,...,0.333333,0.000000,0.166667,0.000000,0.833333,0.166667,0.500000,0.166667,0.166667,0.992199
50,1,1.000000,0.886641,0.113359,1.000000,0.000000,208111.260445,2.478522e+05,14902.285896,2.030101e+05,...,0.823887,0.000000,0.176113,0.591094,0.232793,0.000000,0.056679,0.943321,0.000000,0.996068
53,1,1.000000,1.000000,0.000000,0.402491,0.000000,153552.662675,8.906769e+05,26170.763480,6.768112e+05,...,0.285418,0.128334,0.128334,0.000000,0.871666,0.227919,0.272081,0.256668,0.243332,0.969113
54,1,1.000000,0.910088,0.089912,1.000000,0.000000,83832.219911,2.209046e+05,15382.605449,2.209046e+05,...,0.000000,0.022478,0.325841,0.000000,0.674159,0.325841,0.000000,0.348319,0.325841,0.983273
55,1,1.000000,0.871046,0.000000,0.000000,0.000000,115401.472713,6.571215e+05,33962.410598,5.838394e+05,...,0.306568,-0.128954,0.306568,0.306568,-0.128954,-0.128954,-0.128954,0.306568,0.306568,0.744475
56,1,1.000000,0.238874,0.000000,0.000000,0.000000,123249.335040,4.778894e+05,19637.017791,4.637003e+05,...,0.145974,0.017062,0.077724,0.000000,0.922276,0.077724,0.534597,0.077724,0.309954,0.985960
58,1,1.000000,1.000000,0.136406,0.000000,0.863594,190223.498439,8.086500e+05,25819.855174,6.750000e+05,...,0.290302,0.000000,0.084367,0.000000,0.915633,0.084367,0.468999,0.084367,0.362268,0.964985
60,1,1.000000,0.887075,1.000000,1.000000,1.112925,264918.393534,6.232014e+05,45066.133958,5.598183e+05,...,0.333333,0.018821,0.314513,0.000000,0.685487,0.591384,0.112925,0.295692,0.000000,0.994086
66,1,1.000000,0.000000,0.000000,1.000000,0.000000,157500.000000,2.430000e+05,15660.000000,2.430000e+05,...,0.500000,0.071429,0.071429,0.000000,0.928571,0.071429,0.214286,0.642857,0.071429,0.999186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565314,1,1.000000,0.919394,0.000000,1.000000,0.000000,346284.555421,2.250000e+05,25983.350612,2.250000e+05,...,0.942424,0.000000,0.925152,0.000000,0.074848,0.005758,0.051818,0.919394,0.023030,0.997762
565319,1,0.826177,0.173823,0.826177,1.000000,0.000000,131088.990678,2.573595e+05,25114.401376,2.328220e+05,...,0.000000,0.000000,0.884118,0.000000,0.115882,0.000000,0.884118,0.115882,0.000000,0.998981
565320,1,1.000000,0.000000,0.000000,1.000000,0.114408,90000.000000,1.080889e+05,7163.064536,1.063220e+05,...,0.590395,0.000000,0.352401,0.057204,0.590395,0.000000,0.057204,0.647599,0.295197,0.988152
565321,1,1.000000,0.673859,0.326141,1.000000,0.000000,141064.728807,6.126503e+05,33177.549286,5.126116e+05,...,0.550761,0.000000,0.550761,0.000000,0.449239,0.000000,0.224620,0.775380,0.000000,0.997759
565322,1,0.000000,1.000000,0.000000,0.086442,1.172884,65555.051756,1.350000e+05,6750.000000,1.350000e+05,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.998591
565323,1,1.000000,1.000000,0.000000,1.000000,0.387924,84491.318215,3.028342e+05,13916.434710,2.250000e+05,...,0.417331,0.000000,0.135930,0.087439,0.776631,0.135930,0.271860,0.504771,0.087439,0.984481
565324,1,1.000000,1.000000,1.000000,0.253659,0.253659,185707.335622,7.592051e+05,41108.240172,6.783585e+05,...,0.500813,0.000000,0.082927,0.414634,0.502440,0.167480,0.250407,0.082927,0.499187,0.911992
565325,1,1.000000,0.000000,1.000000,0.355854,0.000000,241013.428429,2.652689e+05,27596.284939,2.250000e+05,...,0.696321,0.000000,0.214715,0.088963,0.696321,0.088963,0.088963,0.822073,0.000000,0.998195
565328,1,1.000000,1.000000,0.000000,0.832980,1.665959,195012.737388,9.043491e+05,46302.834299,7.942643e+05,...,0.343027,0.030702,0.289106,0.083698,0.627196,0.065661,0.209262,0.577707,0.147370,0.991583
565330,1,1.000000,0.512315,0.487685,0.000000,0.000000,204162.546169,9.217282e+05,25407.354968,7.693892e+05,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-0.430965
565331,1,1.000000,0.000000,0.160652,1.000000,0.839348,172283.457927,5.728444e+05,35727.286472,4.945128e+05,...,0.332130,0.000000,0.164261,0.083935,0.751805,0.083935,0.419674,0.412456,0.083935,0.998663
565333,1,1.000000,1.000000,0.000000,0.000000,1.000000,202500.000000,2.398500e+05,27126.000000,2.250000e+05,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.992929
565335,1,1.000000,0.000000,1.000000,1.000000,0.510193,279644.629521,7.644633e+05,45780.263046,6.750000e+05,...,0.500000,0.255096,0.244904,0.000000,0.755096,0.500000,0.000000,0.255096,0.244904,0.962993
565336,1,1.000000,1.000000,0.000000,1.000000,1.000000,239573.282237,8.044591e+05,32340.694985,6.734147e+05,...,0.605872,0.000000,0.100979,0.000000,0.899021,0.100979,0.293150,0.302936,0.302936,0.969196
565342,1,1.000000,1.000000,0.000000,0.098248,0.901752,93536.926245,4.220369e+05,19751.990027,4.220369e+05,...,0.019650,0.300584,0.320234,0.000000,0.679766,0.320234,0.019650,0.640467,0.019650,0.968459
565344,1,1.000000,0.029357,0.000000,0.029357,0.029357,156839.458152,1.441321e+05,9694.500269,1.441321e+05,...,0.492661,0.007339,0.250000,0.735321,0.014679,0.000000,0.242661,0.264679,0.492661,0.970509
565347,1,1.000000,1.000000,0.000000,1.000000,0.000000,142356.084266,4.500000e+05,34713.078633,4.500000e+05,...,0.557688,0.000000,0.180763,0.000000,0.819237,0.311538,0.196162,0.246150,0.246150,0.991298
565350,1,1.000000,0.019622,1.000000,1.000000,0.019622,171618.098257,1.042560e+06,34586.911700,9.000000e+05,...,0.490189,0.098038,0.098038,0.000000,0.901962,0.199346,0.496730,0.199346,0.104579,0.999588
565352,1,1.000000,0.000000,0.951823,0.048177,0.000000,226083.981487,6.833705e+05,32715.028649,6.750000e+05,...,0.000000,0.000000,0.975912,0.000000,0.024088,0.000000,0.975912,0.024088,0.000000,0.998766
565353,1,1.000000,0.000000,1.000000,1.000000,0.779304,334862.648797,1.068596e+06,43733.825730,9.637129e+05,...,0.000000,0.259768,0.370116,0.259768,0.370116,0.000000,0.629884,0.370116,0.000000,0.999464
565354,1,1.000000,0.416571,0.000000,1.000000,0.416571,185250.857917,8.110893e+05,48287.349699,6.993694e+05,...,0.416571,0.000000,0.791714,0.208286,0.000000,0.000000,0.208286,0.791714,0.000000,0.998405
565358,1,1.000000,0.000000,0.000000,0.559454,0.000000,139877.192602,4.196091e+05,19476.640305,3.699123e+05,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-0.435747
565360,1,1.000000,0.328318,0.671682,1.000000,2.000000,82612.841992,3.081365e+05,18628.846511,2.431354e+05,...,1.000000,0.000000,0.552212,0.000000,0.447788,0.000000,0.000000,1.000000,0.000000,0.991532
565362,1,1.000000,0.000000,0.784516,0.215484,0.784516,152651.603677,7.670378e+05,35745.742827,6.855910e+05,...,0.607742,0.000000,0.607742,0.000000,0.392258,0.000000,0.000000,1.000000,0.000000,0.999334
565363,1,1.000000,1.000000,0.000000,0.000000,2.000000,72000.000000,1.933920e+05,13054.500000,1.530000e+05,...,0.000000,0.142857,0.000000,0.000000,1.000000,0.142857,0.285714,0.000000,0.571429,0.874898
565365,1,1.000000,0.448026,0.551974,1.000000,0.000000,319677.647246,4.893447e+05,25489.543185,4.500000e+05,...,0.535244,0.000000,0.074671,0.078853,0.846476,0.074671,0.385902,0.153524,0.385902,0.958230
565366,1,1.000000,1.000000,0.000000,0.284096,0.000000,138937.253376,4.666638e+05,22045.141171,3.472157e+05,...,0.307852,0.153926,0.153926,0.409088,0.436986,0.230371,0.205580,0.102272,0.461777,0.923796
565367,1,1.000000,0.119032,0.000000,0.000000,0.119032,132321.778606,3.530722e+05,26687.569124,2.781436e+05,...,0.200933,0.021642,0.000000,0.241884,0.758116,0.231063,0.263526,0.084235,0.421175,0.957795
565368,1,1.000000,0.548852,0.451148,0.548852,0.000000,147349.170003,1.907193e+05,18708.035490,1.800000e+05,...,0.150383,0.000000,0.548852,0.150383,0.300765,0.000000,0.000000,1.000000,0.000000,0.998623
565369,1,1.000000,0.619137,0.000000,0.000000,0.000000,75858.355037,2.543683e+05,18725.248859,2.267139e+05,...,0.380863,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.997534

In [3]:
def loadData(DataName):
    DataPath = os.path.join(TrainTestDataDir, DataName)
    if not os.path.exists(DataPath):
        print('%s does not exist!' % DataPath)
        return
    OriginData = pd.read_csv(DataPath, index_col=0)
    #OriginData = OriginData.sample(frac=1)  # 打乱顺序后返回
    return OriginData

In [8]:
print('loading AllTrain...')
TrainData = loadData('AllTrain.csv')
TrainData.reset_index(drop=True, inplace=True)
print(TrainData.shape)
print('Num of positive samples:',len(TrainData[TrainData.TARGET==1]))
print('Num of negtive samples:',len(TrainData[TrainData.TARGET==0]))

loading AllTrain...
(307511, 222)
Num of positive samples: 24825
Num of negtive samples: 282686

In [9]:
# 更改训练样本的index
TrainTarget = TrainData.TARGET
TrainData.drop('TARGET', axis=1, inplace=True)
TrainColumns = TrainData.columns

In [27]:
TrainData[TrainData.SK_ID_CURR==368365]

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_traintest,AMT_ANNUITY_traintest,AMT_GOODS_PRICE_traintest,...,NAME_TYPE_SUITE_family,NAME_TYPE_SUITE_other_prevapp,NAME_CLIENT_TYPE_New,NAME_CLIENT_TYPE_Refreshed,NAME_CLIENT_TYPE_Repeater,NAME_PORTFOLIO_Cards,NAME_PORTFOLIO_Cash,NAME_PORTFOLIO_POS,NAME_PORTFOLIO_other,CommonCosSimi
88197,368365,1,1,0,1,0,220500.0,807984.0,26703.0,697500.0,...,0.6,0.0,0.2,0.0,0.8,0.2,0.4,0.4,0.0,0.999108

In [10]:
TrainColumns

Index(['SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR',
       'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT_traintest', 'AMT_ANNUITY_traintest',
       'AMT_GOODS_PRICE_traintest',
       ...
       'NAME_TYPE_SUITE_family', 'NAME_TYPE_SUITE_other_prevapp',
       'NAME_CLIENT_TYPE_New', 'NAME_CLIENT_TYPE_Refreshed',
       'NAME_CLIENT_TYPE_Repeater', 'NAME_PORTFOLIO_Cards',
       'NAME_PORTFOLIO_Cash', 'NAME_PORTFOLIO_POS', 'NAME_PORTFOLIO_other',
       'CommonCosSimi'],
      dtype='object', length=221)

In [11]:
# 划分训练集和验证集
X_train, X_val, y_train, y_val = train_test_split(TrainData.values,TrainTarget.values, test_size=0.3,random_state=611)

In [12]:
X_train.shape

(215257, 221)

In [13]:
Traindf = pd.DataFrame(data=X_train,columns=TrainColumns)

In [21]:
Traindf.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_traintest,AMT_ANNUITY_traintest,AMT_GOODS_PRICE_traintest,...,NAME_TYPE_SUITE_other_prevapp,NAME_CLIENT_TYPE_New,NAME_CLIENT_TYPE_Refreshed,NAME_CLIENT_TYPE_Repeater,NAME_PORTFOLIO_Cards,NAME_PORTFOLIO_Cash,NAME_PORTFOLIO_POS,NAME_PORTFOLIO_other,CommonCosSimi,TARGET
0,159336,1.0,1.0,0.0,1.0,0.0,67500.0,203760.0,11376.0,180000.0,...,0.0,0.333333,0.333333,0.333333,0.000000,0.333333,0.666667,0.000000,0.999124,0
1,346354,1.0,0.0,0.0,1.0,0.0,220500.0,675000.0,32472.0,675000.0,...,0.0,0.250000,0.000000,0.750000,0.250000,0.000000,0.750000,0.000000,0.952306,0
2,128100,0.0,1.0,1.0,1.0,2.0,180000.0,540000.0,27000.0,540000.0,...,0.0,0.500000,0.500000,0.000000,0.000000,0.000000,1.000000,0.000000,0.994660,0
3,231205,1.0,1.0,1.0,0.0,0.0,193500.0,508495.5,24592.5,454500.0,...,0.0,0.066667,0.000000,0.933333,0.066667,0.733333,0.133333,0.066667,0.998972,0
4,383460,0.0,1.0,0.0,1.0,0.0,90000.0,135000.0,6750.0,135000.0,...,0.0,0.200000,0.000000,0.800000,0.000000,0.600000,0.200000,0.200000,0.993438,0

In [20]:
Traindf['TARGET'] = y_train
Traindf.SK_ID_CURR = Traindf.SK_ID_CURR.astype(int)

In [22]:
Valdf = pd.DataFrame(data=X_val,columns=TrainColumns)
Valdf['TARGET'] = y_val
Valdf.SK_ID_CURR = Valdf.SK_ID_CURR.astype(int)

In [23]:
Valdf.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_traintest,AMT_ANNUITY_traintest,AMT_GOODS_PRICE_traintest,...,NAME_TYPE_SUITE_other_prevapp,NAME_CLIENT_TYPE_New,NAME_CLIENT_TYPE_Refreshed,NAME_CLIENT_TYPE_Repeater,NAME_PORTFOLIO_Cards,NAME_PORTFOLIO_Cash,NAME_PORTFOLIO_POS,NAME_PORTFOLIO_other,CommonCosSimi,TARGET
0,368365,1.0,1.0,0.0,1.0,0.0,220500.0,807984.0,26703.0,697500.0,...,0.0,0.200000,0.0,0.800000,0.2,0.400000,0.400000,0.0,0.999108,0
1,346089,1.0,0.0,1.0,1.0,0.0,292500.0,675000.0,32602.5,675000.0,...,0.0,0.333333,0.0,0.666667,0.0,0.000000,1.000000,0.0,0.993392,0
2,263003,0.0,1.0,0.0,1.0,0.0,99000.0,270000.0,13500.0,270000.0,...,0.0,1.000000,0.0,0.000000,0.0,0.000000,1.000000,0.0,0.999994,0
3,126436,1.0,0.0,1.0,0.0,0.0,162000.0,450000.0,20979.0,450000.0,...,0.0,1.000000,0.0,0.000000,0.0,0.000000,1.000000,0.0,0.999390,0
4,235801,1.0,1.0,0.0,0.0,0.0,94500.0,717003.0,21091.5,598500.0,...,0.0,0.333333,0.0,0.666667,0.0,0.333333,0.666667,0.0,0.997723,0

In [24]:
Valdf.shape

(92254, 222)

In [25]:
Traindf.shape

(215257, 222)

In [26]:
#保存数据
Traindf.to_csv(os.path.join(TrainTestDataDir,'train.csv'))
Valdf.to_csv(os.path.join(TrainTestDataDir,'validation.csv'))

In [31]:
X_train = TrainData[TrainData.columns.difference(['SK_ID_CURR','TARGET'])].values

In [32]:
X_train.shape

(307511, 220)

In [33]:
Traindf.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_traintest,AMT_ANNUITY_traintest,AMT_GOODS_PRICE_traintest,...,NAME_TYPE_SUITE_other_prevapp,NAME_CLIENT_TYPE_New,NAME_CLIENT_TYPE_Refreshed,NAME_CLIENT_TYPE_Repeater,NAME_PORTFOLIO_Cards,NAME_PORTFOLIO_Cash,NAME_PORTFOLIO_POS,NAME_PORTFOLIO_other,CommonCosSimi,TARGET
0,159336,1.0,1.0,0.0,1.0,0.0,67500.0,203760.0,11376.0,180000.0,...,0.0,0.333333,0.333333,0.333333,0.000000,0.333333,0.666667,0.000000,0.999124,0
1,346354,1.0,0.0,0.0,1.0,0.0,220500.0,675000.0,32472.0,675000.0,...,0.0,0.250000,0.000000,0.750000,0.250000,0.000000,0.750000,0.000000,0.952306,0
2,128100,0.0,1.0,1.0,1.0,2.0,180000.0,540000.0,27000.0,540000.0,...,0.0,0.500000,0.500000,0.000000,0.000000,0.000000,1.000000,0.000000,0.994660,0
3,231205,1.0,1.0,1.0,0.0,0.0,193500.0,508495.5,24592.5,454500.0,...,0.0,0.066667,0.000000,0.933333,0.066667,0.733333,0.133333,0.066667,0.998972,0
4,383460,0.0,1.0,0.0,1.0,0.0,90000.0,135000.0,6750.0,135000.0,...,0.0,0.200000,0.000000,0.800000,0.000000,0.600000,0.200000,0.200000,0.993438,0

In [36]:
Valdf.isnull().sum().sort_values(ascending=True).head()

SK_ID_CURR                                  0
NAME_CONTRACT_STATUS_Completed_traintest    0
NAME_CONTRACT_STATUS_other_traintest        0
NAME_CONTRACT_STATUS_Signed_traintest       0
CNT_INSTALMENT                              0
dtype: int64